<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="../../static/css/successful.css">
<title>Successfully Downloaded</title>
</head>
<body>
    <div id="success_msg">
        <div id="form">
            <h1>!!! Successfully Downloaded The Video !!!</h1>
            <p>This video has been downloaded to the "Downloads" folder of your "C" drive.</p>
            <P><< Thank You >></P>
            <p>Want to download anything once again?</p>
            <a href="{% url 'youtube'%}" id="clickHere">Click Here</a>
        </div>
    </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="../../static/css/successful.css">
    <title>Successfully Downloaded</title>
</head>
<body>
    <div id="success_msg">
        <div id="form">
            <h1>!!! Successfully Downloaded The Video !!!</h1>
            <p>This video has been downloaded.</p>
            <p><< Thank You >></p>
            <p>Want to download anything once again?</p>
            <a href="{% url 'youtube' %}" id="clickHere">Click Here</a>
        </div>
    </div>
</body>
</html> -->
